{% extends 'base_backend.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}


    <style>
        .bingo-card {
            width: 85%;
            display: inline-block;
            margin: 0 20px 20px 20px;
            border-radius: .5rem;
            padding: .5rem;
            background-color: #ff9d01;
        }
        .bingo-card .col .card-letter {
            font-size: 2rem;
            line-height: 1.5;
            color: #343434;
        }
        .bingo-card .col .card-numbers {
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
        }
        .bingo-card .col .card-numbers .card-number:first-child {
            border-top: 0;
        }
        .bingo-card .col .card-numbers .card-number {
            font-size: 2rem;
            background: #fff;
            border: 1px solid #cecece;
            text-align: center;
        }
        .bingo-card .col .card-letter, .card-block .card .col .card-number {
            text-align: center;
            padding: .25em;
            margin: 0;
        }
    </style>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        Seleccionar cards
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ path('backend') }}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Game</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-list"></i> Table
                            </h3>
                            <div class="card-tools">

                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">

                                {% for key,bingoCard in bingoCards %}

                                    <div class="col-md-6">
                                        <div class="bingo-card">
                                            <div class="row">

                                                {% for key2,value in bingoCard %}
                                                    <div class="col">
                                                        <div class="card-letter">{{ key2|cardLetter }}</div>
                                                        <div class="card-numbers">
                                                            <div class="card-number">
                                                                {{ value[0] }}
                                                            </div>
                                                            <div class="card-number">
                                                                {{ value[1] }}
                                                            </div>
                                                            <div class="card-number">
                                                                {% if key2 == 2 %}
                                                                    <img src="{{ asset('build/images/logo_40x40.png') }}" class="img-circle elevation-2" alt="Tianos">
                                                                {% else %}
                                                                    {{ value[2] }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="card-number">
                                                                {{ value[3] }}
                                                            </div>
                                                            <div class="card-number">
                                                                {{ value[4] }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>

                        </div>
                        <div class="card-footer clearfix">
                            {#
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                            #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
