{{ form_start(form) }}
<div class="card-body">

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.realValue) }}
                {{ form_widget(form.realValue, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.currency) }}
                {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

</div>
<div class="card-footer">
    <button class="btn {{ button_class|default('btn-success') }} pull-right">
        {{ button_label|default('Save') }}
    </button>
</div>
{{ form_end(form) }}